
   <div class="card" *ngFor="let user of users"> 
   <div id="card">
    
        <h1>Persnol details</h1>
        <p>Name : {{user.name}}</p>
        <p>User name : {{user.username}}</p>
        <p> Email : {{user.email}}</p>
        <p>Phone : {{user.phone}}</p>
        <p>Website : {{user.website}}</p>
    </div>

    <div  id="card">
        <h1>Address details</h1>
        <p> Street : {{user.address.street}}</p> 
        <p> suite :  {{user.address.suite}}</p>
        <p> city : {{user.address.city}}</p>
        <p> Zipcode :{{user.address.zipcode}}</p>
        <p>Geo :{{user.address.geo.lat}}</p>
    </div>
    <div id="cards">
        <h1>Company Details</h1>
        <p>Name : {{user.name}}</p>
        <p>catchPhras : {{user.catchPhrase}}</p>
        <p> bs : {{user.bs}}</p>     
       </div>
    </div>
    
