.b1{
    margin: 25px;
    border-radius: 10px;
    background-color: blue;
}
.b2{
    margin: 10px;
    
    border-radius: 10px;
    background-color: yellow;
}
.b3{
    margin: 15px;
    border-radius: 10px;
    background-color: yellow;
}
.b4{
    margin: 15px;
    border-radius: 10px;
    background-color: yellow;
}
.b5{
    margin: 15px;
    border-radius: 10px;
    background-color: yellow;
}
.b6{
    margin: 10px;
    
    border-radius: 10px;
    background-color: green;
}
.b7{
    margin: 15px;
    border-radius: 10px;
    background-color: green;
}
.b8{
    margin: 15px;
    border-radius: 10px;
    background-color: blue;
}
.b9{
    margin: 15px;
    border-radius: 10px;
    background-color: blue;

}
