<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 card" *ngFor="let product of products">
    
    <p>ID :{{product.id}}</p>
    <img src="{{product.image}}" alt="" width="150px" height="150px">
    <p>Title : {{product.title}}</p>
    <p>Price : {{product.price}}</p>
    <p>Description :{{product.description}}</p>
    <p>Category : {{product.category}}</p>
    <p>Rating :{{product.rating}}</p>
    <p>Rate{{product.rating.rate}}</p>
    <p>count{{product.rating.count}}</p>
    <img src="{{product.image}}" alt="" width="150px" height="150px">

    </div>
    

    
</div>
