

        <div class="parent">
            <div class="left">
                <h1>MY WEB SITE</h1>
                <hr>
                <hr>
                <h2 routerLink="home">Home</h2>
                <h2 routerLink="info">Info</h2>
                <h2 routerLink="variable">variable</h2>
                <h2 routerLink="interpolation">interpolation</h2>
                <h2 routerLink="eventbinding">eventbinding</h2>
                <h2 routerLink="twowaybinding">twowaybinding</h2>
                <h2 routerLink="rectangle">rectangle</h2>
                <h2 routerLink="structural-directives">structural-directives</h2>
                <h2 routerLink="attribute-directives">attribute-directives</h2>
                <h2 routerLink="formtable">formtable</h2>
                <h2 routerLink="vehicle">vehicle</h2>
                <h2 routerLink="bank">bank</h2>
                <h2 routerLink="flipkart">flipkart</h2>
                <h2 routerLink="mail">mail</h2>
                <h2 routerLink="activity">activity</h2>
                <h2 routerLink="memes">memes</h2>
                <h2 routerLink="users">users</h2>
                <h2 routerLink="students"></h2>
                <h2 routerLink="create-vehicle">create-vehicle</h2>
                <h2 routerLink="create-account">create-account</h2>
                <h2 routerLink="create-user">create user</h2>
                <h2 routerLink="create-product">create-product</h2>
                <h2 routerLink="products">products</h2>
                <h2 routerLink="parent">parent</h2>
                <h2 routerLink="item">item</h2>
                <h2 routerLink="nav">nav</h2>
                <h2 routerLink="cart">cart</h2>
                <h2 routerLink="parent1">parent1</h2>
                <h2 routerLink="parent2">parent2</h2>
                <h2 routerLink="parent3">parent3</h2>
                <h2 routerLink="about-company">about-company</h2>
                <h2 routerLink="about-ceo">about-ceo</h2>

                <button (click)="logout()">LOGOUT</button>



            </div>
            <div class="right">
                <router-outlet></router-outlet>

            </div>

        </div>
